<div class="carte-energie card mx-2 my-2">
  <div class="card-body">
    <h5 class="card-title">Nouvelle Energie</h5>
    <a href="{{ url('app_create_energie') }}" class="btn btn-primary">Ajouter</a>
  </div>
</div>
