{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}

    <div class="container my-5">

        <h1 class="h3 mb-3 font-weight-normal">Avis</h1>

        <div class="avis container row">
            {% for avi in avis %}      
                {% include 'avis/carte.html.twig' with {'avis': avi} only %}
            {% endfor %}
        </div>

    </div>

{% endblock %}
