
    <div class="form-group mx-0 mx-sm-5 my-3">
        {{ form_row(userForm.email) }}
    </div>
    <div class="form-group mx-0 mx-sm-5 my-3">
        {{ form_row(userForm.pseudo) }}
    </div>
    <div class="form-group mx-0 mx-sm-5 my-3">
        {{ form_row(userForm.plainPassword) }}
    </div>
    <div class="form-group mx-0 mx-sm-5 my-3">
        {{ form_row(userForm.confirmPassword) }}
    </div>
