<div class="carte-utilisateur card mx-2 my-2">
  <div class="card-body">
    <h5 class="card-title">Nouvelle utilisateur</h5>
    <a href="{{ url('app_create_utilisateur') }}" class="btn btn-primary">Ajouter</a>
  </div>
</div>
