{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<div class="container" style="background-color: red">
    <div class="d-flex">
        <img src={{asset('images/road.jpg')}} style="width: 400px" />
        <img src="{{asset('images/car.jpg')}}"  />
    </div>
</div>
{% endblock %}
