
$primary: (#08603B) !default;

@use "./bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.login-icon {
    font-size: 40px;
    color: $primary;
}

img {

    border-radius: 10px;


}

.accueil {


}

#road {

    img {
    }

}

#car {

    transform: translate(0px, -150px);

}

#presentation {

    img {
    }

}
