<div class="carte-marque card mx-2 my-2">
  <div class="card-body">
    <h5 class="card-title">{{ marque.libelle }}</h5>
    <a href="{{ url('app_update_marque', {id: marque.id}) }}" class="btn btn-primary">Modifier</a>
    <a href="{{ url('app_delete_marque', {id: marque.id}) }}" class="btn btn-primary">Supprimer</a>
  </div>
</div>
