<div class="carte-marque card mx-2 my-2">
  <div class="card-body">
    <h5 class="card-title">Nouvelle marque</h5>
    <a href="{{ url('app_create_marque') }}" class="btn btn-primary">Ajouter</a>
  </div>
</div>
