<div{{ attributes }}>


    <div class="input-group mb-3">
        <span class="input-group-text">Choisissez un itinéraire</span>
        <span class="input-group-text">Départ</span>
        <input type="text" class="form-control" aria-label="Départ">
        <span class="input-group-text">arrivée</span>
        <input type="text" class="form-control" aria-label="Arrivée">
    </div>

</div>
