<div class="carte-voiture card mx-2 my-2">
  <div class="card-body">
    <h5 class="card-title">Nouvelle voiture</h5>
    <a href="{{ url('app_create_voiture') }}" class="btn btn-primary">Ajouter</a>
  </div>
</div>
