<div class="card mb-3 p-0 carte-covoiturage">
  <div class="row g-0">
    <div class="col-md-4">
      {# <img src="photos/1.jpg" class="img-fluid rounded-start" alt="{{ covoiturage.voiture.chauffeur.pseudo }}"> #}
    </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-text">Nouveau covoiturage</h5>
                <p class="card-text"></p>
                <p class="card-text"></p>
                <a href="{{ url('app_create_covoiturage') }}" class="btn btn-primary">Ajouter</a>
            </div>
        </div>
    </div>
</div>
